<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Ajout d'accessoire - Kotlin Adventure</title>
</head>
<nav th:replace="mesFragments :: fragNav"></nav>
<main class="container"><body>
<div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">
    <form novalidate class="validation"  th:action="@{/admin/accessoire}" th:object="${nouveauAccessoire}" method="post">
        <h2 class="mb-4">Ajouter un accessoire</h2>
        <!-- Input pour le nom de l'accessoire -->
        <div class="mb-3">
            <label for="nom" class="form-label">Nom de l'accessoire</label>
            <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"  th:field="${nouveauAccessoire.nom}">
        </div>

        <!-- Input pour le bonus de l'accessoire -->
        <div class="mb-3">
            <label for="typeBonus" class="form-label">Bonus de l'accessoire</label>
            <input required min="0" max="99" type="number" class="form-control" id="typeBonus" name="type Bonus" th:field="${nouveauAccessoire.typeBonus}">
        </div>

        <!-- Bouton de soumission -->
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
<script src="/js/validation.js"></script>
</body>
</main>
</html>